
.detailcontainer{
    overflow: scroll;
    overflow-y: auto;
    height: calc(100vh - 50px);
    width: 100%;
    box-sizing: border-box;
    #detail_supplier_container {
    .bottom-left {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 50%;
        a,
        button {
            display: flex;
            // justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
    .bottom-right {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        button {
            width: 90px;
            height: 32px;
            font-weight: bold;
            margin-left: 15px;
        }
    }
    .status_header {
        width: 100%;
        height: 46px;
        background: #ffff;
        border-radius: 3px;
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-end;
        padding: 0 10px;
    }
}
}