.nhacungcap{
    overflow: scroll;
    // height: 715px;
//    margin: 0 10px;
        // // width: 100%;
        overflow-y: auto;
        height: calc(100vh - 50px);
        // padding: 15px;
        width: 100%;
        box-sizing: border-box;

}