@import "../../../Common.scss";
#search {
    
    padding: 20px;
    margin: 10px;
    height: 72px;
    background: #FFFFFF;
    border-radius: 3px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
     .inputs_ {
         display: flex;
    }
     .inputs_chitiet{
        float: right;
     }
     .action_btn {
        
    // display: flex;
    // flex-direction: row;
    // align-items: flex-start;
    // padding: 0px;
    // gap: 10px;
    // width: 290px;
    // height: 32px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.012em;
      
    // margin: 40px;
        .btn-setup-reset {
            // //  cursor: pointer;
            // //  margin-left: 10px;
            // width: 106px;
            // height: 32px;
            // box-sizing: border-box;
            // border: none;
            // background: #F2F2F2;
            // border-radius: 3px;
            // color: #707070;
            // cursor: pointer;
            width: 106px;
    height: 32px;
    box-sizing: border-box;
    border: none;
    background: #F2F2F2;
    border-radius: 3px;
    color: #707070;
    cursor: pointer;
    margin-right: 10px;
    gap: 10px;
            &:hover{
                background: #dddddd;
            }
        }
        .btn-setup-seach{
            width: 90px;
            height: 32px;
            box-sizing: border-box;
            border: none;
            background: #138300;
            border-radius: 3px;
            color: #FFFFFF;
            cursor: pointer;
            margin-right: 10px;
           
            &:hover{
                background: #1aa601;
            }
        }
        .btn-setting{
            border: none;
            width: 32px;
            height: 32px;
            background: #D2F2CC;
            border-radius: 3px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 6px;
            gap: 10px;
            margin-right: 10px;
            .icon_btn-setting{
                width: 20px;
                height: 20px;
                flex: none;
                order: 0;
                flex-grow: 0;
                
            }
            &:hover{
                background: #45be30;
            }
            
        }
        .btn-seedetail{
            border: none;
            width: 32px;
            height: 32px;
            border-radius: 3px;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 6px;
            background: #FFCD29;
            .icon_btn-seedetail{
                width: 20px;
                height: 20px;
                flex: none;
                order: 0;
                flex-grow: 0;
            }
            &:hover{
                background: #af9641;
            }
        }
        
        
     }
    // }
 }

 #search_chitiet{
    padding: 20px;
    margin: 6px;
    height: 72px;
    background: #FFFFFF;
    border-radius: 3px;
    box-sizing: border-box;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;
     
     .inputs_chitiet{
        float: right;
     }
     .action_btn {
         display: flex;
         height: 32px;
         button {
             cursor: pointer;
            //  margin-left: 10px;
             .icon_ {
                 width: 20px;
                 height: 20px;
             }
         }
     }
     .btn-status-chitiet{
        align-items: center;
        border: none;
        outline: none;
        background-color: #ffffff;
     }
     .btn-reset-chitiet{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        outline: none;
        background-color: #ffffff;
        width:"74px";
        // margin-right: 10px;
     }
     .text-success{
        list-style-type: none;
        display: flex;
        padding: 3px 9px;
        height: 40px;
        border: none;
        color: #1aa601;
     }
     .text-danger{
        list-style-type: none;
        display: flex;
        padding: 3px 5px;
        height: 20px;
        border: none;
        color: #f80101;
     }
 }